<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Filmflix</title>
    <link rel="stylesheet" href="assets/styles.css" />
    <link rel="stylesheet" href="assets/glider.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
    />
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body class="main-page">
    <div id="app">
      <div id="gif-preview-popup">
        <div class="gif-preview-popup-content">
          <div class="gif-preview-popup-content-image">
            <img src="" alt="" />
          </div>
        </div>
      </div>
      <header>
        <span id="logo"></span>
        <nav>
          <ul class="browse-nav">
            <li>
              <input type="radio" name="navigation" id="radio-home" checked />
              <label for="radio-home">Home</label>
            </li>
            <li>
              <input type="radio" name="navigation" id="radio-tv" />
              <label for="radio-tv">Tv Shows</label>
            </li>
            <li>
              <input type="radio" name="navigation" id="radio-movies" />
              <label for="radio-movies">Movies</label>
            </li>
            <li>
              <input type="radio" name="navigation" id="radio-new" />
              <label for="radio-new">New & Popular</label>
            </li>
            <li>
              <input type="radio" name="navigation" id="radio-mylist" />
              <label for="radio-mylist">My List</label>
            </li>
          </ul>

          <ul class="account-nav">
            <li><i class="fas fa-search"></i></li>
            <li><i class="fas fa-bell"></i></li>
            <li class="user-drop">
              <div class="user-picture">
                <img
                  src="https://avatars.dicebear.com/api/big-ears-neutral/1.svg"
                  alt=""
                  srcset=""
                />
              </div>
              <span class="arrow-down"></span>
              <div id="user-dropdown">
                <ul class="list-profiles">
                  <li v-for="n in 4">
                    <a href="">
                      <div class="user-picture">
                        <img
                          v-bind:src="'https://avatars.dicebear.com/api/big-ears-neutral/'+n+'.svg'"
                          alt=""
                          srcset=""
                        />
                      </div>
                      <span>User {{n}}</span>
                    </a>
                  </li>
                  <li>
                    <a href="">Manage Profiles</a>
                  </li>
                </ul>
                <ul class="internal-menu">
                  <li><a href="">Account</a></li>
                  <li><a href="">Help Center</a></li>
                  <li><a href="">Sign out of Filmflix</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>
      </header>
      <main>
        <section id="featured">
          <div class="background"></div>
          <div class="content-info">
            <div class="content-title">PrettyLittleKitties</div>
            <div class="content-description">
              The dangers of being a kitty lies ahead.
            </div>
            <div class="row">
              <button class="play"><i class="fas fa-play"></i> Play</button>
              <button class="info">
                <i class="fas fa-info-circle"></i> More Info
              </button>
            </div>
          </div>
        </section>
        <section id="content-rows-section">
          <content-row-view
            v-for="n in 5"
            :title="'Cat ' + randomCategory()"
          ></content-row-view>
        </section>
      </main>
    </div>

    <script
      src="https://kit.fontawesome.com/72622729a3.js"
      crossorigin="anonymous"
    ></script>

    <script src="assets/main.js"></script>
  </body>
</html>
